<tr>
    <td width="40%">
        <a href="{{ path('app.style_guide', { template: template|default('index') }) }}">{{ title|default('Unnamed template')  }}</a>
        <p>
            {% for tag in tags|default([]) %}
                <small class="badge badge-warning">{{ tag|upper }}</small>
            {% endfor %}
        </p>
        <p>
            <small>{{ description|default('No description provided.') }}</small>
        </p>
    </td>
    <td width="60%">
        <div class="progress">
            <div class="progress-bar" style="width:{{ progress|default(0) }};">{{ progress|default(0) }}</div>
        </div>
    </td>
</tr>